@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@100&display=swap');

/* * {
    outline: orange 5px solid;
} */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    transition: background 0.1s linear;
}

/* TOGGLE OF DARK MODE BUTTON */

body.dark {
    background-color: #292C35;
}

body.dark h2 {
    color: #FFFF;
}

.logo {
    max-width: 40%;
}

.navigation-container {
    /* border: orange 5px solid; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    background-color: #FFFF;
}

.navigation-container .links-container a {
    /* border: orange 5px solid; */
    text-decoration: none;
    margin: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    transition: 0.5s ease-in-out;
    color: black;
}

.navigation-container .links-container a:hover {
    transition: 0.4s ease-in-out;
    border: black 3px;
    border-radius: 20px;
    background-color: rgb(240, 68, 68);
    color: white;
}



/* LATEST BLOG POSTS */

h2 {
    /* border: orange 5px solid; */
    padding-left: 50px;
    text-align: center;
}

.latest-blog-post {
    margin-bottom: 30px;
}

.blog-groups-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3;
}

.blog-groups-container .blog {
    max-width: 400px;
    background-color: rgb(240, 68, 68);
    color: #FFFF;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
}

.banner {
    transition: 0.2s;
}

.blog:hover {
    transform: scale(1.11);
    background-color: rgb(37, 37, 37);
}

.blog:hover .banner {
    transition: 0.2s;
    transform: scale(1.001);
}

.blog-groups-container img {
    max-width: 400px;
    max-height: 400px;
}

.blog-groups-container h3,
p,
a {
    padding: 0px 15px 0px 15px;
}

.blog-groups-container .blog a {
    color: #FFFF;
}

/* ABOUT US */

.about-us {
    padding: 30px 0px 30px 50px;
}

.about-us-container {
    /* border: orange 5px solid; */
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgb(240, 68, 68);
    color: #FFFF;
    margin-bottom: 30px;
}

.about-us-container img {
    max-width: 50%;
    min-width: 30%;
    margin-left: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-us-container .about-us-header {
    margin-left: 6.5%;
    ;
}

.about-us-container .about-us-paragraph {
    margin-left: 4.5%;
}

.about-us-container .about-us-header,
.about-us-paragraph {
    max-width: 50%;
}

/* FOOTER */

.footer-container {
    background-color: rgba(36, 35, 35, 0.864);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-container .footer-logo {
    max-width: 8%;
}

.github-icon {
    margin-top: 10px;
    opacity: 50%;
    max-width: 40px;
}

/* BACK TO TOP BUTTON */

#back-To-Top-Btn {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(75, 78, 209);
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

#back-To-Top-Btn:hover {
    background-color: #555;
}

#back-To-Top-Btn img {
    width: 40px;
    height: 40px;
}

/* DARK MODE BUTTON */

.label {
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 3px;
    border-radius: 50px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}


.ball {
    background-color: #FFFF;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(25px);
}

/* POP UP */
/* Popup container */
.dark-mode-button {
    position: relative;
    display: inline-block;
}

/* The actual popup (appears on top) */
.dark-mode-button .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -175%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.dark-mode-button .popuptext::after {
    content: "";
    position: absolute;
    top: -75%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.dark-mode-button .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s
}

.dark-mode-button .hide {
    visibility: hidden;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* MEDIA QUERIES */

@media all and (max-width: 950px) {

    .about-us-container {
        flex-direction: column;
        text-align: center;
    }

    .about-us-container img {
        margin-left: 0%;
    }

    .about-us-container .about-us-header {
        margin-left: 25%;
        ;
    }

    .about-us-container .about-us-paragraph {
        margin-left: 23%;
    }

    .about-us-container .about-us-header,
    .about-us-paragraph {
        max-width: 50%;
    }

}


@media all and (max-width: 880px) {

    .navigation-container .links-container a {
        margin: 10px;
    }

}

@media all and (max-width: 830px) {

    .navigation-container .links-container a {
        margin: 5px;
    }

}

@media all and (max-width: 790px) {

    .navigation-container .links-container a {
        padding: 0px 0px 0px 0px;
    }

    .logo {
        max-width: none;
        width: 200px;
    }

}

@media all and (max-width: 770px) {

    .navigation-container {
        flex-direction: column;
    }
}